.monitor {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.monitor_main {
	vertical-align: top;
	margin-left: auto;
	margin-right: auto;
	display: table-row;
	position: relative;
	padding: 3px;
	margin: 4px;
}

.monitorFooter {
	display: table;
	width: 100%;
	border-top: 1px solid;
	margin-top: 15px;
	padding-top: 5px;
}

.monitorFooterText {
	color: gray;
}

.monitorFooterTextBold {
	color: black;
}

.monitor_frame {
	display: table-cell;
}

.monitor_tree_title {
	padding: 3px;
	margin: 4px;
	width: 100%;
}

.monitor_tree_title table:first-child {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.monitor_tree_frame {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 3px;
	margin: 4px;
	white-space: nowrap;
}

.monitor_device_frame {
	text-align:center;
	display: table-cell;
	padding: 3px;
	margin: 2px;
}

.monitor_device_frame a {
	display: block;
}

.monitor_legend {
	position: fixed;
	left: 0;
	bottom: 0;
	display: table;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.monitor_legend table {
	padding: 2px;
	width: 100%;
}

.monitor_exsmall {
	height: 25px;
}

.monitor_exsmall_tiles {
	height: 20px;
}

.monitor_exsmall_tilesadt {
	height: 25px;
	width: 70px;
}

.monitor_exsmall i {
	font-size: 10px;
}

.monitor_small {
	height: 40px;
}

.monitor_small i {
	font-size: 20px;
}

.monitor_medium {
	height: 60px;
}

.monitor_medium i {
	font-size: 40px;
}

.monitor_large {
	height: 100px;
}

.monitor_large i {
	font-size: 80px;
}

.monitor_device {
	font-size: 10px; padding: 2px;
}

.monitorHover {
	font-size: 10px;
}

.monitorHover td:first-child {
	padding-right: 5px;
	white-space: nowrap;
}

.monitorFilterTable {
	display: table;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.monitorFilterRow {
	display: table-row;
	margin: auto;
	width: 100%;
}

.monitorFilterCell {
	display: table-cell;
}

.monitorFilterCell .ui-button, .monitorFilterCell button {
	margin: 2px ! important;
}

.monitorFilterCell .ui-selectmenu-button, .monitorFilterCell select {
	min-width: 150px ! important;
	max-width: 150px ! important;
	margin: 2px ! important;
}

.monitorFilterForm {
	padding-bottom: 2px;
	border-bottom: 1px solid;
	width: 100%;
}

.monitorFilterText {
	padding-left: 5px;
	padding-right: 5px;
}

.deviceAlertBg,
.deviceDownBg,
.deviceUnknownBg {
	color: gray;
}

.cactiPageBottom {
	z-index: -1;
}

table {
	width: 100%;
}
