.monitorHover {
	color: #9d9d9d !important;
}

.monitor a, .monitor a:active, .monitor a:visited,
.monitorHover a, .monitorHover a:active, .monitorHover a:visited {
	color: #9d9d9d !important;
}

.monitor a:hover {
	color: white !important;
}

.monitorHover a:hover {
	color: black !important;
}

.monitorFooterText {
	color: gray;
}

.monitorFooterTextBold {
	color: white;
}

