.monitorHover {
	color: #e3e3e3 !important;
}

.monitor a, .monitor a:active, .monitor a:visited,
.monitorHover a, .monitorHover a:active, .monitorHover a:visited {
	color: #e3e3e3 !important;
}

.monitor a:hover {
	color: snow !important;
}

.monitorHover a:hover {
	color: snow !important;
}

.monitorFooterText {
	color: gray;
}

.monitorFooterTextBold {
	color: white;
}

.monitorFooter {
	border-top: 1px solid white;
}

.monitorFilterForm {
	border-bottom: 1px solid white;
}

