.monitorHover {
	color: #e3e3e3 !important;
}

.monitor a, .monitor a:active, .monitor a:visited,
.monitorHover a, .monitorHover a:active, .monitorHover a:visited {
	color: #e3e3e3 !important;
}

.monitor a:hover {
	color: snow !important;
}

.monitorHover a:hover {
	color: snow !important;
}

.monitorFooterText {
	color: gray;
}

.monitorFooterTextBold {
	color: snow;
}

.monitor_legend td {
	font-weight: 600;
	font-size: 12px;
}

