.monitorHover {
	color: white !important;
}

.monitorHover a, .monitorHover a:active, .monitorHover a:visited {
	color: #93CEFF !important;
}

.monitorHover a:hover, .monitor a:hover {
	color: white !important;
}

.monitorFooterText {
	color: gray;
}

.monitorFooterTextBold {
	color: white;
}



.monitorFooter {
	border-top: 1px solid white;
}

.monitorFilterForm {
	border-bottom: 1px solid white;
}
